{% extends "hyperkitty/base.html" %}
{% load gravatar %}
{% load i18n %}
{% load hk_generic %}


{% block title %}
{{ message.subject }} - {{ mlist.display_name|default:mlist.name|escapeemail }} - {{ app_name|title }}
{% endblock %}

{% block content %}

<div class="row">

{% include 'hyperkitty/fragments/month_list.html' %}

    <div class="col-md-7">

        <div class="message-header row">
        <div class="col-tn-2 message-back">
            <a href="{% url 'hk_thread' threadid=message.thread.thread_id mlist_fqdn=mlist.name %}#{{message.message_id_hash}}">
                <span class="fa fa-chevron-left icon"></span>
                <span class="hidden-tn hidden-xs">{% trans "thread" %}</span>
            </a>
        </div>
        <div class="col-tn-10">
            <h1>{{ message.subject }}</h1>
        </div>
        </div>

        <section id="thread-content">
            {% include 'hyperkitty/messages/message.html' with email=message unfolded='True' %}
        </section>

    </div>

</div>

{% endblock %}

{% block additionaljs %}

<script type="text/javascript">
    $(document).ready(function() {
        setup_emails_list();
    });
</script>

{% endblock %}
