{% extends "hyperkitty/base.html" %}
{% load i18n %}
{% load gravatar %}
{% load hk_generic %}


{% block title %}
{% trans "Messages by" %} {{ fullname }}{% if mlist %} - {{ mlist.display_name|default:mlist.name|escapeemail }} {% endif %} - {{ app_name|title }}
{% endblock %}

{% block content %}

<div class="row">

<div id="months-list" class="col-sm-2"> </div>

    <div id="thread-list" class="col-sm-8">

        <div class="thread-list-header page-header">
            {% if mlist %}
            <h1>{% trans "Messages by" %} {{ fullname }}
                <small>{% trans "in" %} {{ mlist.display_name|default:mlist.name|escapeemail }}</small>
            </h1>
            {% else %}
            <h1>{% trans "Messages by" %} {{ fullname }}</h1>
            {% endif %}
            <ul class="thread-list-info">
                {% if mlist.display_name %}
                <li class="list-address">
                    {{ mlist.name|escapeemail }}
                </li>
                {% endif %}
                <li class="discussion">
                    {{ emails.paginator.count }} {% trans "messages" %}
                </li>
                <li>
                    <a href="{% url 'hk_public_user_profile' user_id=user_id %}">
                        {% blocktrans %}Back to {{ fullname }}'s profile{% endblocktrans %}
                    </a>
                </li>
            </ul>

        </div>

        {% for email in emails %}
            {% include "hyperkitty/messages/summary_message.html" %}
        {% empty %}
            <p>{% trans "Sorry no email could be found by this user." %}</p>
        {% endfor %}

        {% include "hyperkitty/paginator.html" with pager=emails %}

    </div>

</div>

{% endblock %}

{% block additionaljs %}
<script>
$(document).ready(function() {
    $('span.expander').expander({
        slicePoint: 500,
        userCollapseText : '\n[View Less]',
        expandText : '\n[View More]',
        beforeExpand: function() {
            $(this).removeClass("collapsed");
            $(this).addClass("expanded");
        },
        onCollapse: function() {
            $(this).removeClass("expanded");
            $(this).addClass("collapsed");
        }
    });
});
</script>
{% endblock %}
