{% load i18n %}
{% load gravatar %}
{% load hk_generic %}

        {% with starting_email=thread.starting_email %}
        <div class="thread{% if thread|is_unread_by:request.user %} unread{% endif %}">
            <span class="thread-title">
                <a name="{{thread.thread_id}}"
                   href="{% url 'hk_thread' threadid=thread.thread_id mlist_fqdn=mlist.name %}"
                    >
                    {% if thread.favorite %}
                    <i class="fa fa-star saved" title="{% trans 'Favorite' %}"></i>
                    {% endif %}
                    {% if thread|is_unread_by:request.user %}
                    <i class="fa fa-envelope" title="{% trans 'New messages in this thread' %}"></i>
                    {% endif %}
                    {{ starting_email.subject|strip_subject:mlist }}
                </a>
            </span>
            <span class="thread-date"
                  title="{{ thread.date_active|date:'l, j F Y H:i:s' }}">
                {{ thread.date_active|timesince }}
            </span>
            <div class="thread-info">
                <div class="sender gravatar">
                    {% if starting_email.sender.address %}
                    {% gravatar starting_email.sender.address 120 %}
                    <br />
                    {% endif %}
                    {{ starting_email.sender.name|escapeemail }}
                </div>
                <div class="thread-content">
                    <div class="thread-email row">
                        <span class="expander collapsed col-tn-12">
                            {{ starting_email.content|urlizetrunc:76|escapeemail }}
                        </span>
                    </div>
                    <div class="thread-extras row">
                        {% if use_mockups %}
                        <div class="thread-category col-tn-12 col-xs-6 col-sm-3 col-xl-2">
                            {% include 'hyperkitty/threads/category.html' with category=thread.category category_form=thread.category_form threadid=thread.thread_id %}
                        </div>
                        {% endif %}
                        <div class="col-tn-12 col-xs-6 col-sm-4 col-xl-3">
                            {% include "hyperkitty/fragments/like_form.html" with message_id_hash=starting_email.message_id_hash object=thread %}
                        </div>
                        <ul class="list-unstyled list-stats col-tn-12 col-sm-5 col-xl-3">
                            <li>
                                <i class="icomoon participant"></i>
                                {{ thread.participants_count }} {% trans "participants" %}
                            </li>
                            <li>
                                <i class="icomoon discussion"></i>
                                {{ thread|num_comments }} {% trans "comments" %}
                            </li>
                        </ul>
                        <div class="tags col-tn-12 col-xl-4">
                            {% if thread.tags.count %}
                            {% trans "Tags:" %}
                            <ul class="list-unstyled list-inline">
                            {% for tag in thread.tags.distinct %}
                                <li>
                                    <a href="{#% url 'hk_search_tag' mlist_fqdn=mlist.name tag=tag.name %#}">{{tag.name}}</a>{% if not forloop.last %},{% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
